.page-content-register {
  width: 100%;
  margin: 0 auto;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  font: 400 100px/1.5 "Papyrus", Helvetica, sans-serif;
  color: #000000;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1), 7px 7px 0 rgba(0, 0, 0, 0.05);
  position: top;
}
.form-v9-content {
  width: 80%;
  border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  margin: 185px 0;
  font-weight: 700;
  font-size: 16px;
  position: relative;
}

.form-v9-content .form-detail h2 {
  font-size: 35px;
  text-align: center;
  position: relative;
  padding: 16px 0 13px;
  margin-bottom: 55px;
}
.form-v9-content .form-detail h2::after {
  width: 73px;
  height: 3px;
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.form-v9-content .form-row-total {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -o-justify-content: space-between;
  -ms-justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
}
.form-v9-content .form-row {
  width: 45%;
}
.form-v9-content .form-detail .form-row-last {
  text-align: center;
}
.form-v9-content .form-detail .input-text {
  margin-bottom: 45px;
}
.form-v9-content .form-detail input {
  width: 100%;
  padding: 14.5px 0px 14.5px 30px;
  border: 1px solid rgb(7, 0, 0);
  appearance: unset;
  -moz-appearance: unset;
  -webkit-appearance: unset;
  -o-appearance: unset;
  -ms-appearance: unset;
  outline: none;
  -moz-outline: none;
  -webkit-outline: none;
  -o-outline: none;
  -ms-outline: none;
  border-radius: 27.5px;
  -o-border-radius: 27.5px;
  -ms-border-radius: 27.5px;
  -moz-border-radius: 27.5px;
  -webkit-border-radius: 27.5px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.2);
}
.form-v9-content .form-detail input:focus {
  border: 2px solid #999;
}
.form-v9-content .form-detail .register {
  background: #000000;
  border-radius: 25px;
  -o-border-radius: 25px;
  -ms-border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 4px;
  width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border: none;
  margin: 20px 0 73px 35px;
  cursor: pointer;
  font-family: "Papyrus", sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
}
.form-v9-content .form-detail .register:hover {
  background: rgb(50, 60, 153);
}
.form-v9-content .form-detail .form-row-last input {
  padding: 14px;
}
input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgb(68, 66, 66);
  font-size: 16px;
  font-family: Papyrus;
}
input::-moz-placeholder {
  /* Firefox 19+ */
  color: dimgrey;
  font-size: 16px;
}
input:-ms-input-placeholder {
  /* IE 10+ */
  color: dimgrey;
  font-size: 16px;
}
input:-moz-placeholder {
  /* Firefox 18- */
  color: dimgrey;
  font-size: 16px;
}

/* Responsive */
@media screen and (max-width: 1199px) {
  .form-v9-content {
    margin: 185px 20px;
  }
}
@media screen and (max-width: 767px) {
  .form-v9-content .form-row-total {
    flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
  }
  .form-v9-content .form-row {
    width: 100%;
  }
}
@media screen and (max-width: 575px) {
  .form-v9-content .form-detail {
    padding: 30px 45px 30px 10px;
  }
}
#regHead {
  text-align: center;
  position: relative;
  color: rgb(0, 0, 0);
  font-size: 60px;
  font-family: Papyrus;
  margin: -190px 85px 170px 70px;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1), 7px 7px 0 rgba(0, 0, 0, 0.05);
}
.form-row-last {
  margin-right: 5%;
}
